{% extends 'layout.html' %}

{% block title %}
    Thêm bữa ăn
{% endblock %}

{% block z %}
<div class="top-main">
    <div class="sub-header">
        <h3>Chọn lớp học muốn thêm bữa ăn</h3>
    </div>
    
</div>
<div class="content-main">
    <ul class="list-class">
        {% for class in class1 %}
            <li>
                <a href="{{ url_for('addNewMeal_s2', class_id=class.id) }}">
                    {{ class.name }}
                </a>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}