{% extends 'layout.html' %}

{% block title %}
    Thêm mới tình trạng sức khỏe
{% endblock %}

{% block z %}
<div class="top-main">
    <div class="sub-header">
        <span>Thêm tình trạng sức khỏe cho học sinh: {{student.name}}</span>            
    </div> 
</div>
<div class="content-main">
    <form action="{{ url_for('addNewHealth_s3') }}" method="post" class="form-data">
        <div class="form_content">
            <ul class="form-data_name">
                <li>Mã học sinh</li>
                <li>Chiều cao(cm)</li>
                <li>Cân nặng(kg)</li> 
                <li>Ghi chú</li>
            </ul>
    
            <ul class="form-data_value">
                <li>
                    <input name="student_id" value="{{student.id}}" readonly="true">
                </li>
                <li>
                    <input name="height" required>
                </li>
                <li>
                    <input name="weight" required>
                </li>
                <li>
                    <textarea rows="3" cols="40" name="note"></textarea>
                </li>
            </ul>
        </div>
        <div class="form-end">
            <button class="add-btn">Thêm mới</button>
        </div>
    </form>
</div>
{% endblock %}

