<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Quản lý nhà trẻ</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../static/css/layout.css">
    </head>
    <body>
        <div id="header">
            <div class="message_noti">
                {% with messages = get_flashed_messages() %} 
                    <h3> {{messages[0]}} </h3>
                {% endwith %}
            </div>
            <div class="login_information">
                <div class="info-user">
                    {% if current_user.is_authenticated %}
                        <span class="avatar">
                            <i class="fa-regular fa-user"></i>
                        </span>  
                        {{ current_user.name }}
                    {% endif %}
                </div>
                <div class="logout">
                    {% if current_user.is_authenticated %}
                        <a class="logout-btn" href="{{ url_for('logout') }}">
                            Đăng xuất
                        </a>
                    {% endif %}
                </div>
            </div> 
            
        </div>

        <div id="content">
            <div id="nav">
                <h3 class="nav-title">DASHBOARDS</h3>
                {% if current_user.is_authenticated %}
                <ul class="management">
                    <li class="{% if current_page == 'dashboard' %}active{% endif %}">
                        <a href="{{ url_for('index') }}" >
                            <i class="fa-solid fa-house-user"></i>
                            Dashboard
                        </a>
                    </li>
                </ul>
                    
                {% endif %}

                <h3 class="nav-title">
                    QUẢN LÝ
                </h3>

                {% if current_user.is_authenticated %}
                    <ul class="management">
                        <li class="{% if current_page == 'account_management' %}active{% endif %}">
                            <a href="{{ url_for('account_management') }}">
                                <i class="fa-solid fa-user-gear"></i>
                                Quản lý tài khoản
                            </a>
                        </li>
                        <li class="{% if current_page == 'student_management' %}active{% endif %}">
                            <a href="{{ url_for('student_management') }}">
                                <i class="fa-solid fa-children"></i>
                                Quản lý học sinh
                            </a>
                        </li>
                        <li class="{% if current_page == 'health_management' %}active{% endif %}">
                            <a href="{{ url_for('health_management') }}">
                                <i class="fa-solid fa-heart-pulse"></i>
                                Quản lý thể trạng
                            </a>
                        </li>
                        <li class="{% if current_page == 'class_management' %}active{% endif %}">
                            <a href="{{ url_for('class_management') }}">
                                <i class="fa-solid fa-school"></i>
                                Quản lý lớp học
                            </a>
                        </li>
                        <li class="{% if current_page == 'teacher_management' %}active{% endif %}">
                            <a href="{{ url_for('teacher_management') }}">
                                <i class="fa-solid fa-user-graduate"></i>
                                Quản lý giáo viên
                            </a>
                        </li>
                        <li class="{% if current_page == 'parent_management' %}active{% endif %}">
                            <a href="{{ url_for('parent_management') }}">
                                <i class="fa-solid fa-people-line"></i>
                                Quản lý phụ huynh
                            </a>
                        </li>
                        <li class="{% if current_page == 'tuition_management' %}active{% endif %}">
                            <a href="{{ url_for('tuition_management') }}">
                                <i class="fa-solid fa-money-check-dollar"></i>
                                Quản lý học phí
                            </a>
                        </li>
                        <li class="{% if current_page == 'notification_management' %}active{% endif %}">
                            <a href="{{ url_for('notification_management') }}">
                                <i class="fa-solid fa-bell"></i>
                                Quản lý thông báo
                            </a>
                        </li>
                    </ul>
                {% endif %}
            </div>
            
            <div id="main">   
                {% block z %}
                {% endblock %}
            </div>

            
          
        </div>

        <div id="footer">

        </div>
        {% block bodyTitle %}
        {% endblock %}
       
        <ul>
            {% if not current_user.is_authenticated %}
                <li><a href="{{ url_for('login') }}">Đăng nhập</a></li>
            {% endif %}
        </ul>
        <div class="container">
        {% block body %}
        {% endblock %}
        </div> 
    </body>
</html>