
{% extends 'layout.html' %}

{% block title %}
    Chỉnh sửa thông tin học sinh
{% endblock %}

{% block z %}
<div class="top-main">
    <div class="sub-header">
        <span>Cập nhật thông tin học sinh</span>            
    </div> 
</div>
<div class="content-main">
    <form action="{{ url_for('update_student_s2') }}" method="post" class="form-data">
        <div class="form_content">
            <ul class="form-data_name">
                <li>Mã học sinh</li>
                <li>Tên học sinh</li>
                <li>Giới tính</li> 
                <li>Năm sinh</li>
                <li>Địa chỉ</li>
            </ul>
    
            <ul class="form-data_value">
                <li>
                    <input name="id" value="{{student.id}}" readonly="true">
                </li>
                <li>
                    <input name="name" value="{{student.name}}" required>
                </li>
                <li>
                    <input type="radio" name="gender" value="Nam" required>Nam
                    <input type="radio" name="gender" value="Nữ" required>Nữ
                    <input type="radio" name="gender" value="Khác" required>Khác
                </li>
                <li>
                    <input type="date" name="date_of_birth" value="{{student.date_of_birth}}" required>
                </li>
                <li>
                    <textarea rows="3" cols="30" name="address" required>{{student.address}}</textarea>
                </li>
            </ul>
        </div>


        <div class="form-end">
            <button class="add-btn">Cập nhật</button>
        </div>
    </form>
</div>

{% endblock %}